vendor-prefixes ?= webkit moz official
@import 'nib'
@import url("normalize.css")
@import url("http://fonts.googleapis.com/css?family=Lato:300")
@font-face
	font-family: 'HelveticaNeueLight'
	src: url("../fonts/HelveticaNeueLight.eot")
	src: url("../fonts/HelveticaNeueLight.eot?=btf") format("embedded-opentype"), url("../fonts/HelveticaNeueLight.woff") format('woff'), url("../fonts/HelveticaNeueLight.ttf") format('truetype'), url("../fonts/HelveticaNeueLight.svg#HelveticaNeue-Light") format('svg')

@font-face
	font-family: 'HelveticaNeue'
	src: url("../fonts/HelveticaNeue.eot")
	src: url("../fonts/HelveticaNeue.eot?=btf") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format('woff'), url("../fonts/HelveticaNeue.ttf") format('truetype'), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format('svg')

bgcolor(n)
	background n
	&:hover
		background lighten(n,8%)
	&:active
		background darken(n,6%)

hovact(n)
	&:hover
		background n
	&:active
		background darken(n,20%)

*
	border 0
	margin 0
	padding 0

body
	background #dedede
	font-family 'HelveticaNeueLight', Helvetica, Arial, sans-serif
	text-rendering optimizeLegibility
	& ::selection
		background #203338
		color #fff

	p
		margin-bottom 5px

	a
		text-decoration none

.menu-fijo
	background rgba(255, 255, 255, 0.95)
	border-width 1px
	position fixed
	top 0
	width 100%
	z-index 999

header
	background #fff
	border-bottom 2px solid #ccc
	font-size 14px
	height 55px

nav
	margin 0 auto
	margin-bottom 30px
	max-width 1100px
	text-align right
	width 90%
	ul li
		display inline-block
		padding 20px 0
		a
			color #494949
			font-size 11px
			letter-spacing 2px
			padding 20px 18px 17px 18px
			transition opacity 0.2s ease-out 0.1s
			text-transform uppercase
			&:hover
				opacity 1
				filter none
				border-bottom 2px solid #ccc

	h2
		color #464545
		float left
		letter-spacing 4px
		position relative
		top 15px

.banner
	height 42.375em
	overflow hidden
	text-align center
	z-index 99

	.layer
		background url("../img/1.png") #202527 center fixed
		height inherit
		position absolute
		overflow hidden
		width 100%
		z-index 100

		h1
			font-family 'Lato', sans-serif
			font-size 7em
			font-weight 100
			color #1aaf5d
			margin-top 2em
			text-transform uppercase
			left 0
			position absolute
			right 0
			z-index 3

		ul li
			display inline-block
			a
				background #1aaf5d
				border-radius 3px
				color #202527
				display inline-block
				font-size 13px
				letter-spacing 2px
				margin 10px
				padding 15px 30px
				position relative
				text-transform uppercase
				top 31em
				z-index 3
				&:hover
					background #ccc

		p
			color #ccc
			width 54%
			position relative
			margin 0 auto
			top 23em

.video-container
	height 0
	overflow hidden
	padding-bottom 56.25%
	position relative
	iframe, video, object, embed
		position absolute
		top 0
		left 0
		width 100%
		height 100%

.title
	background #fff
	border-radius 3px 3px 0 0
	border-bottom 2px solid #ccc
	overflow hidden
	padding 20px 25px
	position relative
	text-align center
	h2
		color #1aaf5d
		font-size 16px
		font-weight 100
		position relative
	.fa
		left 0
		margin-left 10px
		position absolute

.descrip
	background #fff
	overflow hidden
	position relative

.btn
	background white
	color #333
	float left
	font-family 'HelveticaNeue'
	font-size 12px
	letter-spacing 2px
	padding 15px 0
	text-align center
	text-decoration none
	text-transform uppercase
	transition all 0.8s
	width 50%
	&:hover
		color #fff

	/.twt
		hovact(#2fceff)
	/.fb
		hovact(#3b5998)
		&:before
			background #ccc
			content ''
			height 100%
			width 1px
			position absolute
			left 50%
			top 0
			right 0
.article
	border-radius 0 0 5px 5px
	box-shadow 0 3px 0 #ccc
	margin-bottom 20px
	overflow auto

.text
	background #eee
	color #575656
	line-height 22px
	padding 30px 20px
	text-align justify

.container
	margin 0 auto
	max-width 900px
	padding-top 30px
	width 90%

.dest
	color #1aaf5d
	font-family 'HelveticaNeue'
	font-style italic
	font-weight 600

footer
	background #203338
	color #1aaf5d
	font-size 12px
	letter-spacing 2px
	margin-top 180px
	padding 30px 15px
	position relative
	text-align center
	text-transform uppercase
	&:before
		background url("../img/2.png") repeat-x center top
		content ''
		height 152px
		left 0
		position absolute
		right 0
		bottom 100%
		width 100%

.patron
	background url("../img/pattern-post.png")
	height 100%
	position absolute
	width 100%
	z-index 2