@media screen and (max-width: 955px)
	.img-left,.img-right
		display none
	.text-left,.text-right
		display block
		margin 0 auto
		padding 40px 0px
		position static
		right inherit
		width 75%
	.i-main
		padding 80px 20px
		h1
			font-size 5em
	.menu-fijo
		width 100%
		left 0px
	.cont-contacto
		width 80%
@media screen and (max-width: 600px)
	nav 
		width 95%
		ul li 
			display block
			a 
				background rgba(255, 255, 255, 0.1)
				display block
				margin-bottom 2px
				width 98%
@media screen and (max-width: 528px)
	nav
		margin-top 30px
	.a-center
		ul li
			display block
			a 
				display block
				margin-bottom 2px
				width 93.5%
	.text-right, .text-left
		width 90%

